@charset "ISO-8859-1";

.full-table{
	width: 100%;
	margin: auto;
	padding: 0px;
}

.full-table th{
	text-align: left;
}

.citizens-item{
	position: relative;
    top: -18;
    overflow: visible;
}

.character-item-group, .storage-item-group, .citizens-item-group{
	text-align: center;
	height: min-content;
	height: 22px;
	float: left;
	margin-right: 5px;
	margin-top: 7px;
	margin-bottom: 4px;
	width: 22px;
	cursor: pointer;
}

#modal-structure{
	display: none;
}

.clickable-structure:hover {
	cursor: pointer;
}