.btn-main{
	border-radius: 5px;
	padding: 7px;
}

.bulletinChar{
	color: #5a9c67;
}

.head-box{
  background-color: #77778a;
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
  box-shadow: #0e0f12 2px 2px;
}

.item-counter{
	font-size: 0.65em;
	position: relative;
	left: -4px;
	color: #d5c555;
}

.storage-item{
	cursor: pointer;
}